* {
  box-sizing: border-box;
}

// 変更無し
.header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  padding: 12px;
  z-index: 1;
  position: fixed;
  top: 0;
  &__logos {
    display: block;
    height: auto;
    width: 240px;
    text-align: center;
    font-weight: 600;
    margin: auto;
    &__logo-1 {
      font-family: Georgia;
      font-size: 12px;
      color: red;
    }
    &__logo-2 {
      font-family: Georgia;
      font-size: 24px;
      color: $main-color;
    }
    &__logo-3 {
      background-color: $main-color;
      font-family: Georgia;
      font-size: 12px;
      color: white;
      border-top: 2px red solid;
    }
  }
  .search-form {
    margin: auto;
    &__input {
      height: 36px;
      width: 600px;
      background-color: rgba(255, 255, 255, 0.4);
      border: 1px gray solid;
      border-radius: 4px;
      font-size: 12px;
      padding: 12px;
    }
    &__input:focus {
      border: 1px $main-color solid;
      outline: 0;
    }
    &__btn {
      cursor: pointer;
      height: 36px;
      width: 36px;
      background-color: $main-color;
      border: 1px $main-color solid;
      border-radius: 4px;
    }
    &__icon {
      color: white;
    }
  }
}

.main {
  width: 100%;
  margin-top: 73.2px;
  .top-banner {
    height: 600px;
    background-image: image-url("Mt.Fuji.jpeg");
    background-size: cover;
    background-position: center;
    padding: 60px;
    &__head {
      font-size: 60px;
      color: white;
      text-shadow: 0 0 12px black;
      line-height: 2;
      animation: fadeIn 6s;
    }
    &__subhead {
      font-size: 24px;
      color: white;
      text-shadow: 0 0 12px black;
      line-height: 1.2;
      animation: fadeIn 12s;
    }
  }
  .navbar {
    height: auto;
    ul {
      display: flex;
      justify-content: center;
      height: 120px;
      border-top: 1px $main-color solid;
      border-bottom: 1px $main-color solid;
      background-color: rgb(240, 240, 240);
      opacity: 0.8;
      line-height: 120px;
      margin-top: 12px;
      li {
        font-weight: 600;
        padding: 0 24px;
        a {
          text-decoration: none;
          color: $main-color;
        }
      }
    }
    &__icon {
      color: rgb(120, 120, 120);
      line-height: 60px;
      margin: 6px;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: $main-color;
  padding: 24px;
  bottom: 0;
  &__logos {
    display: block;
    height: 60px;
    width: 240px;
    text-align: center;
    font-weight: 600;
    margin: 36px 0 36px 180px;
    &__logo-1 {
      font-family: Georgia;
      font-size: 12px;
      color: rgb(180, 180, 180);
    }
    &__logo-2 {
      font-family: Georgia;
      font-size: 24px;
      color: rgb(180, 180, 180);
    }
    &__logo-3 {
      background-color: rgb(180, 180, 180);
      font-family: Georgia;
      font-size: 12px;
      color: white;
      border-top: 2px rgb(120, 120, 120) solid;
    }
  }
  &__container {
    height: auto;
    width: auto;
    font-size: 12px;
    text-align: center;
    margin-right: 180px;
    ul {
      display: flex;
      justify-content: center;
      color: white;
      line-height: 2;
      li {
        padding: 24px;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
    .headquarters {
      color: rgb(180, 180, 180);
      line-height: 4;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}