* {
  box-sizing: border-box;
}

.header {
  background-color: white;
  display: flex;
  padding: 12px;
  .logos {
    height: auto;
    width: 240px;
    text-align: center;
    font-weight: 600;
    margin: auto;
    .logo-1 {
      font-family: Georgia;
      font-size: 12px;
      color: red;
    }
    .logo-2 {
      font-family: Georgia;
      font-size: 24px;
      color: $main-color;
    }
    .logo-3 {
      background-color: $main-color;
      font-family: Georgia;
      font-size: 12px;
      color: white;
      border-top: 2px red solid;
    }
  }
  .search-form {
    margin: auto;
    .textarea {
      height: 36px;
      width: 600px;
      border: 1px gray solid;
      border-radius: 4px;
      font-size: 12px;
      padding: 12px;
    }
    .textarea:focus {
      border: 1px $main-color solid;
      outline: 0;

    }
  }
}

.main {
  width: 100%;
  .top-banner {
    height: 600px;
    background-image: image-url("Mt.Fuji.jpeg");
    background-size: cover;
    background-position: center;
    padding: 60px;
    &__head {
      font-size: 60px;
      color: white;
      text-shadow: 0 0 12px black;
      line-height: 2;
      animation: fadeIn 4s;
    }
    &__subhead {
      font-size: 24px;
      color: white;
      text-shadow: 0 0 12px black;
      line-height: 1.2;
      animation: fadeIn 6s;
    }
  }
}

.footer {
  height: auto;
  width: 100%;
  background-color: $main-color;
  font-size: 12px;
  text-align: center;
  margin-top: 24px;
  padding: 24px;
  bottom: 0;
  .texts {
    display: flex;
    justify-content: space-around;
    color: white;
    line-height: 2;
  }
  .headquarters {
    color: rgb(120, 120, 120);
    line-height: 4;
  }
}

@keyframes fadeIn {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}