.form-wrapper
  = form_with local: true, class: "form-wrapper" do |form|

    .header
      .logos
        .logo-1
          Challenge the record
        .logo-2
          SILVER SPORTS
        .logo-3
          シルバースポーツ
      .search-form
        = text_field_tag "textarea", "", class: "textarea", placeholder: "何かお探しですか？", maxlength: "24", type: "text"
    .main
      .top-banner
        .top-banner__head
          人生が変わるスポーツショップ
        .top-banner__subhead
          シルバースポーツはだれでもかんたんに購入できる
          %br
          ショップサイトです。
      
    .footer
      